.fret-indicators {
  display: flex;
  height: 2rem;
  width: 100%;
}

.fret-indicator {
  display: grid;
  place-content: center;
  flex: 1 1 0px;
  height: 100%;
  color: var(--text-dark-high-emphasis);
  font-weight: 600;
}

.guitar {
  width: 100%;
}

.colour-block {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}