.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-light);
}

.body {
  flex-grow: 1;
}

.footer {
  background-color: var(--background-dark);
  color: var(--text-light-contrast);
}