.container {
  z-index: 2;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 5rem auto 5rem;
  height: 3rem;
  background-color: var(--background-light);
}

.title {
  margin: 0;
  font-size: 2rem;
}

.button {
  all: unset;
  border: solid 0.25rem white;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}